<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
	 verbose="true">
  <testsuites>
    <testsuite name="PHPUnit Demo App Test">
      <directory suffix="Test.php">phpunit</directory>
    </testsuite>
  </testsuites>
</phpunit>
